{% extends 'membre.html.twig' %}

{% block title %}Hello MembreController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour {{ app.user.username }}! 😁</h1>
    <p> bienvenue petit dans ton espace pour creer des annonce ;) </p>
    <a href="{{ path('membre_new') }}">Creer une annonce</a>


    <h2>liste de vos annonces</h2>
 <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>slug</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>DatePublication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in app.user.annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.slug }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.contenu }}</td>
                {% if annonce.image %}
                <td><img src="{{ asset('uploads/' ~ annonce.image) }}" class="img-fluid"></td>
                {% else %}
                <td>pas d'images :'(</td>
                {% endif %}
                <td>{{ annonce.datePublication ? annonce.datePublication|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('membre_show', {'id': annonce.id}) }}">show</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
