{% extends 'parent.html.twig' %}
{% block Title %}page annonce{% endblock %}
{% block titre1 %}
<h1>galerie</h1>
{% endblock %}

{% block content %}
    <table class="table">
        {% for annonce in annonces %}
           
                <p>{{ annonce.titre }}</p>
                <p>{{ annonce.contenu }}</p>
                <p>{{ annonce.image }}</p>
                <p>{{ annonce.datePublication ? annonce.datePublication|date('d m Y H:i:s') : '' }}</p>
                 <a href="{{ path('annonce', {'slug': annonce.slug, 'id':annonce.id}) }}">show</a>
        {% else %}
            <p>
             no records found
            </p>
        {% endfor %}
        </tbody>
{% endblock %}

{% block image %}
<img src="{{asset ('images/photo1.jpg')}}" alt="">
<img src="{{asset ('images/photo2.jpg')}}" alt="">
{% endblock %}